<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
        <%for (var i=0; i<messages.length; i++){%>
	<li class='message'>
	    <p>
	    <%= messages[i].user %>:
            <%= messages[i].content %>
	    </p>

	    <span class='date'><%= messages[i].date %></span>
	</li>    
        <%}%>
    </ul>
    <a href='/new'>Post your message!</a>
  </body>
</html>
